/*================================================================================
 * 自定义函数
**================================================================================*/

@mixin text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
