
/*================================================================================
 * 自定义变量
**================================================================================*/
// 文字颜色
$text-major :#303133; // 主要颜色
$text-general: #606266; // 一般颜色
$text-minor: #909399; // 次要颜色
$text-placeholder: #C0C4CC; // 占位颜色